.App {
  text-align: center;
}
.header{
  text-align: center;
  margin-top: 0px;
  background-color: rgb(45, 106, 236);
  color: white;
}
.item{

}
.cart{
  text-align: right;
  background-color: rgb(45, 106, 236);
  color: white;
}